<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <form [formGroup]="addForm">
      Value: {{ addForm.value | json}}
      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="Host" formControlName="hostName" />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="Alias" formControlName="alias" />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="IP Address" formControlName="ipAddress" />
        </mat-form-field>
      </div>
      <div class="form-group">
        <h3>Host Groups</h3>
        <dual-list [source]="hostGroups" [(destination)]="selectedHostGroups"></dual-list>
      </div>
      <div class="form-group">
        <h3>Contact Groups</h3>
        <dual-list [source]="contactGroups" [(destination)]="selectedContactGroups" [display]="_groupName"></dual-list>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Submit</button>
      </div>
    </form>

  </div>
  <div class="col-sm-4"></div>
</div>

