<aside class="col-2 col-lg-12 h-md-100 p-0 bg-dark fixed-top">
  <nav class="navbar navbar-expand navbar-dark bg-dark px-0 px-lg-2">
    <div class="collapse navbar-collapse" id="nav">
      <ul class="flex-column flex-lg-row navbar-nav w-100 justify-content-center align-items-center align-items-sm-start text-left text-lg-center">
        <li class="nav-item w-100">
          <a class="nav-link active text-nowrap" [routerLink]="['/']"><i class="fa fa-desktop" aria-hidden="true"></i>&nbsp; <span class="d-none d-sm-inline font-weight-bold">aNagio</span></a>
        </li>
        <li class="nav-item w-100">
          <a class="nav-link text-truncate" [routerLink]="['/tac']"><i class="fa fa-eye fa-fw"></i> <span class="d-none d-sm-inline">Tactical Overview</span></a>
        </li>
        <li class="nav-item w-100">
          <a class="nav-link text-truncate" [routerLink]="['/hosts']"><i class="fa fa-server fa-fw"></i> <span class="d-none d-sm-inline">Hosts</span></a>
        </li>
        <li class="nav-item w-100">
          <a class="nav-link text-truncate"  [routerLink]="['/contacts']"><i class="fa fa-cogs fa-fw"></i> <span class="d-none d-sm-inline">Contacts</span></a>
        </li>
        <li class="nav-item w-100">
          <a class="nav-link text-truncate"[routerLink]="['/config']"><i class="fa fa-heart fa-fw"></i> <span class="d-none d-sm-inline">Configuration</span></a>
        </li>
        <li class="nav-item w-100">
          <a class="nav-link text-truncate" href="#spy3"><i class="fa fa-star fa-fw"></i> <span class="d-none d-sm-inline">Link</span></a>
        </li>
        <li class="nav-item w-100">
          <a class="nav-link text-truncate" data-target="#codeply" href="//codeply.com"><i class="fa fa-list fa-fw"></i> <span class="d-none d-sm-inline">Codeply</span></a>
        </li>
      </ul>
    </div>
  </nav>
</aside>
