<mat-dialog-content [formGroup]="addContactForm">
 <h3>Add Contact</h3>
  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" />
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Alias" formControlName="alias" />
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Email Address" formControlName="emailAddress" />
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>
